@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" ng-controller="IndexController" ng-init="init()">
    <h1 class="auth-title">WELCOME {{userApp.name}}</h1>
    <h1 class="auth-title">{{userApp.roleUser.name}}</h1>
</div>
<script src="~/controllersjs/index-controller.js"></script>